* {
  margin: 0;
  padding: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #CE4242;
  transition: width .3s;
}

.underline-animation:hover::after {
  width: 100%;
}

select, .lang-selector li {
  background-repeat: no-repeat;
  background-size: 2em auto;
  background-position: 0.5em center;
}