@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FormaDJRMicro';
    font-weight: 700;
    src: url('./assets/fonts/FormaDJRMicro-Bold.ttf');
}

@font-face {
    font-family: 'FormaDJRMicro';
    font-weight: 500;
    src: url('./assets/fonts/FormaDJRMicro-Medium.ttf');
}

@font-face {
    font-family: 'NeueHassDisplay';
    font-weight: 500;
    src: url('./assets/fonts/NeueHaasDisplay-Medium.ttf');
}

@font-face {
    font-family: 'NeueHassDisplay';
    font-weight: 400;
    src: url('./assets/fonts/NeueHaasDisplay-regular.ttf');
}
